apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: default
  labels:
    app: order-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: 034333502865.dkr.ecr.us-east-1.amazonaws.com/ecommerce-ms-order-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8082
              name: http
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: order-service-secret
                  key: DATABASE_URL
            - name: SERVICE_NAME
              valueFrom:
                configMapKeyRef:
                  name: order-service-config
                  key: SERVICE_NAME
            - name: AWS_REGION
              valueFrom:
                configMapKeyRef:
                  name: order-service-config
                  key: AWS_REGION
            - name: CARTS_TABLE
              valueFrom:
                configMapKeyRef:
                  name: order-service-config
                  key: CARTS_TABLE
            - name: SESSIONS_TABLE
              valueFrom:
                configMapKeyRef:
                  name: order-service-config
                  key: SESSIONS_TABLE
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8082
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 8082
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
