apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: default
  labels:
    app: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: 034333502865.dkr.ecr.us-east-1.amazonaws.com/ecommerce-ms-user-service:v1.0.2
          ports:
            - containerPort: 8083
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: user-service-secret
                  key: DATABASE_URL
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: user-service-secret
                  key: JWT_SECRET
            - name: SERVICE_NAME
              valueFrom:
                configMapKeyRef:
                  name: user-service-config
                  key: SERVICE_NAME
            - name: JWT_ALGORITHM
              valueFrom:
                configMapKeyRef:
                  name: user-service-config
                  key: JWT_ALGORITHM
            - name: JWT_EXPIRATION_HOURS
              valueFrom:
                configMapKeyRef:
                  name: user-service-config
                  key: JWT_EXPIRATION_HOURS
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8083
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8083
            initialDelaySeconds: 10
            periodSeconds: 5
